<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div id="new-extension">
    <%= link_to 'Add New Chrome Extension', new_extension_path, :remote => true, :id => 'new-link' %>
  </div>
  <div>
    <table id="extensions-table" class="table table-hover">
      <%= render @extensions %>
    </table>
  </div>
</div>