<div class="row my-3" id="button-row">
  <%= render "buttons" %>
</div>
<div class="row" id="table-row">
  <div class="col">
    <table id="extensions-table" class="table table-hover table-sourcecon-header">
      <%= render "table", :extensions => @extensions %>
    </table>
  </div>
</div>