<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div id="new-extension">
    <%= link_to 'New Extension', new_extension_path, :remote => true, :id => 'new-link' %>
  </div>
  <table id="extensions-table" class="table table-hover">
    <%= render @extensions %>
  </table>
</div>